<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pyl.demo.mapper.collect_record_infoMapper" >
  <resultMap id="BaseResultMap" type="com.pyl.demo.model.collect_record_info" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PLANT_NAME" property="plantName" jdbcType="VARCHAR" />
    <result column="PlANTATION" property="plantation" jdbcType="VARCHAR" />
    <result column="RULES_COLLECT" property="rulesCollect" jdbcType="VARCHAR" />
    <result column="IS_FINISH" property="isFinish" jdbcType="TINYINT" />
    <result column="DEAL_TIME" property="dealTime" jdbcType="TIMESTAMP" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="NUMBER" property="number" javaType="DOUBLE"/>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PLANT_NAME, PlANTATION, RULES_COLLECT, IS_FINISH, DEAL_TIME, USERNAME,NUMBER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from COLLECT_RECORD
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllCollectRecord" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from COLLECT_RECORD
    where USERNAME = #{username,jdbcType=VARCHAR}
  </select>
  <select id="getCollectRecordNum" resultType="java.lang.Integer" parameterType="java.lang.String">
    select
    count(*)
    from COLLECT_RECORD
    where USERNAME = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from COLLECT_RECORD
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pyl.demo.model.collect_record_info" >
    insert into COLLECT_RECORD (ID, PLANT_NAME, PlANTATION, 
      RULES_COLLECT, IS_FINISH, DEAL_TIME, 
      USERNAME,NUMBER)
    values (#{id,jdbcType=INTEGER}, #{plantName,jdbcType=VARCHAR}, #{plantation,jdbcType=VARCHAR}, 
      #{rulesCollect,jdbcType=VARCHAR}, #{isFinish,jdbcType=TINYINT}, #{dealTime,jdbcType=TIMESTAMP}, 
      #{username,jdbcType=VARCHAR},#{number,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.pyl.demo.model.collect_record_info" >
    insert into COLLECT_RECORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="plantName != null" >
        PLANT_NAME,
      </if>
      <if test="plantation != null" >
        PlANTATION,
      </if>
      <if test="rulesCollect != null" >
        RULES_COLLECT,
      </if>
      <if test="isFinish != null" >
        IS_FINISH,
      </if>
      <if test="dealTime != null" >
        DEAL_TIME,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="number != null">
        NUMBER
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="plantName != null" >
        #{plantName,jdbcType=VARCHAR},
      </if>
      <if test="plantation != null" >
        #{plantation,jdbcType=VARCHAR},
      </if>
      <if test="rulesCollect != null" >
        #{rulesCollect,jdbcType=VARCHAR},
      </if>
      <if test="isFinish != null" >
        #{isFinish,jdbcType=TINYINT},
      </if>
      <if test="dealTime != null" >
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="number!=null">
        #{NUMBER,jdbcType=DOUBLE}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pyl.demo.model.collect_record_info" >
    update COLLECT_RECORD
    <set >
      <if test="plantName != null" >
        PLANT_NAME = #{plantName,jdbcType=VARCHAR},
      </if>
      <if test="plantation != null" >
        PlANTATION = #{plantation,jdbcType=VARCHAR},
      </if>
      <if test="rulesCollect != null" >
        RULES_COLLECT = #{rulesCollect,jdbcType=VARCHAR},
      </if>
      <if test="isFinish != null" >
        IS_FINISH = #{isFinish,jdbcType=TINYINT},
      </if>
      <if test="dealTime != null" >
        DEAL_TIME = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="number!=null">
        NUMBER = #{number,jdbcType=DOUBLE}
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pyl.demo.model.collect_record_info" >
    update COLLECT_RECORD
    set PLANT_NAME = #{plantName,jdbcType=VARCHAR},
      PlANTATION = #{plantation,jdbcType=VARCHAR},
      RULES_COLLECT = #{rulesCollect,jdbcType=VARCHAR},
      IS_FINISH = #{isFinish,jdbcType=TINYINT},
      DEAL_TIME = #{dealTime,jdbcType=TIMESTAMP},
      USERNAME = #{username,jdbcType=VARCHAR}
      NUMBER = #{number,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>